<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Message</title>
</head>
<body>
    <form method="POST" action="/new">
        <label for="user">User:</label>
        <input type="text" id="user" name="user" value = "gobi">
        
        <label for="text">Message:</label>
        <input type="text" id="text" name="text" value="says hello!">
        
        <button type="submit">Send</button>
    </form>
</body>
</html>