<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whatever</title>
</head>
<body>
    
    <h1>Message board</h1>
    <form method="POST" action="/new">
        <label for="user">User:</label>
        <input type="text" id="user" name="user" value = "gobi">
        
        <label for="text">Message:</label>
        <input type="text" id="text" name="text" value="says hello!">
        
        <button type="submit">Send</button>
    </form>
    <% messages.forEach((item, index) => { %>
        <ul>
            
            <li>Texts: <%= item.text %></li>
            <li>User: <%= item.username %></li>
            <li>Sent: <%= item.sent %></li>
            <li><a href="/open/<%= index%>" >Check information</a></li>
        </ul>
    <% }) %> 
    <button><a href="/new">Send Message(opens new page)</a></button>
    Send message from here:
</body>
</html>